# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
backend/venv/
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# Pyenv
.python-version

# Editor directories and files
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
.pnpm-debug.log
dist/

# Env files
.env
*.env

# Virtualenv
octofit-tracker/backend/venv/
backend/venv/
